
<div class="container mt-2">
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errMessage; else loading">
      <div  class="text-danger">
        {{errMessage}}
      </div>
    </ng-container>
    <ng-template #loading >
      <div class="text-center " id="loading">
        <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
        </div></div>
    </ng-template>

  </ng-template>
  <ng-container *ngIf="permis | async as listPermis; else failureOrLoading">
    <div class="card ">
      <div *ngIf="errMessage">
        {{errMessage}}
      </div>
      <div class="card-header bg-info"> La liste des permis :</div>
      <div class="card-body">
        <div *ngIf="ListPermisFormGroup">
          <form [formGroup]="ListPermisFormGroup" (ngSubmit)="handelListPermis()">
            <div class="input-group">
              <label class="input-group-text">Nom ou Prénom Conducteur:</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-success">
                <div class="bi bi-search">Chercher</div>
              </button>
              <button routerLink="/new-depot" class="btn btn-warning ms-5">
                <div> Nouveau Conducteur</div>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th >Numéro Permis</th><th>Date de délivrance</th><th>Date de fin</th> <th>Lieu de délivrance</th><th>Liste de types permis</th><th>Supp</th><th>Mod</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of permis |async ">
            <td>{{p.num_Permis}}</td>
            <td>{{p.date_Delivrance| date:'yyyy / MM / dd '}}</td>
            <td>{{p.date_Fin| date:'yyyy / MM / dd '}}</td>
            <td>{{p.lieu_Delivrance}}</td>
            <td>{{p.typePermisList}}</td>
            <td >
              <button class="btn btn-danger" (click)="handledDeletePermis(p)">
                <i class="bi bi-trash" ></i>
              </button>
            </td>
            <td >
              <button class="btn btn-primary" (click)="handelUpdatePermis(p)">
                <i class="bi-pen"></i>
              </button>
            </td>
            <td >
              <button class="btn btn-info" (click)="handelVoyagePermis(p)">
                Les voyages
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
</div>
