<div class="row">
  <div class="col-md-5 bg-black pt-5 pb-4">
    <div class="pt-5 pb-5">
      <img src="assets/logologin.png" alt="logo" class="mt-5 offset-2 mb-5 pb-5">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Authentification
      </div>
      <div class="card-body">
        <h3>Email</h3>
        <input type="text" class="form-control">
        <h3> Mot de passe</h3>
        <input type="password" class="form-control">
      </div>
    </div>
  </div>
</div>
