/* --------------------------------------------------------INFORMATIONS DU PERMIS ---------------------------------------- */
.pvc-card {
  width: 450px;
  height: 290px !important;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1px;
  background-color: #007bff;
  color: #fff;
}

.header img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.details {
  flex: 1;
  padding: 10px;
  font-size: 12px;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.label {
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Cambria;
  font-size: large;
}



.value {
  flex: 1;
  font-size: 22px;
  color: #007bff;
}

.details .detail-row:not(:last-child) {
  border-bottom: 1px solid #ddd; /* Couleur de la ligne de séparation */
  margin-top: 6px; /* Espace entre les divs */
  margin-bottom: 0px; /* Espace entre les divs */
}
/* --------------------------------------------------------INFORMATIONS DU CONDUCTEUR ---------------------------------------- */

/* Style pour la card */
.card1 {
  border: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px !important;

}

/* Style pour l'en-tête de la card */
.card-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Style pour le corps de la card */
.card-body {
  padding: 20px;
}

/* Style pour les labels */
.form-label {
  font-weight: bold;
  color: #333;

}

/* Style pour les informations en gras */
.card-body strong {
  color: #007bff;
}

/* Style pour les lignes de tableau */
.card-body > div:not(:last-child) {
  border-bottom: 1px solid #ddd; /* Couleur des lignes */
  padding-bottom: 10px; /* Espace entre les lignes */
  margin-bottom: 10px; /* Espace entre les lignes */
}
/* Classe personnalisée pour aligner le texte à droite avec un espace à gauche */
.text-right-with-space {
  text-align: right ;
  padding-left: 20px; /* Espace à gauche (ajustez selon vos préférences) */
}




