<div class="container">
  <div class="card col col-md-6">
    <div class="card-header bg-black text-white">
      Les informations du conducteur : <strong class="text-right-with-space">{{ conducteur?.nom }} {{ conducteur?.prenom }}</strong>
    </div>
    <div class="card-body">

      <div class="mb-3">
        <label class="form-label">Num carte nationale: <strong class="text-right-with-space">{{ conducteur?.cin }}</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-label">Matricule :<strong class="text-right-with-space">{{ conducteur?.matricule }}</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-label d">Nom :<strong class="text-right-with-space">{{ conducteur?.nom }}</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-label">Prénom :<strong class="text-right-with-space">{{ conducteur?.prenom }}</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-label">Adresse :<strong class="text-right-with-space">{{ conducteur?.adresse }}</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-label">Date de naissance :<strong class="text-right-with-space">{{ conducteur?.date_Naissance }}</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-label">Numéro de téléphone :<strong class="text-right-with-space">{{ conducteur?.numTel }}</strong></label>
      </div>

    </div>
  </div>

  <div class="permisCard">
    <div class="col col-md-5 offset-7">
      <div class="table-primary">
        <div class="card-header bg-success text-white">Informations complémentaires</div>
        <!-- Ajoutez ici des informations complémentaires si nécessaire -->
      </div>
    </div>
  </div>
</div>
