<div class="container mt-4">
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errMessage; else loading">
      <div  class="text-danger">
        {{errMessage}}
      </div>
    </ng-container>
    <ng-template #loading >
      <div class="text-center " id="loading">
        <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
        </div></div>
    </ng-template>

  </ng-template>
  <ng-container *ngIf="voitures | async as listVoitures; else failureOrLoading">
    <div class="card ">
      <div *ngIf="errMessage">
        {{errMessage}}
      </div>

      <div class="card-header bg-dark text-white ">
        <div class="row">
        <h4 class="col-md-9"> <i class="bi bi-list-nested"></i> La liste des vehicules :</h4>
        <div class="btn bg-dark-subtle  col-md-2 ms-5" (click)="handelNewVehicule()"><i class="bi bi-plus"></i><i class="bi bi-car-front"></i>  Ajouter un vehicule</div>
        </div>
      </div>
      <div class="card-body bg-light">
        <div *ngIf="getVehiculeFormGroup">



        </div>
        <table class="table ">
          <thead >
          <tr>
            <th >Code </th><th>Immatriculation</th><th>Marque</th> <th>Model</th><th>Type de permis requis</th><th>N° de places</th><th>Type de carburant</th><th>Etat du véhicule</th><th>Visualiser</th> <th>Modif</th><th>Supp</th><th>Voyage</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let v of voitures |async ">
            <td class="text-center">{{v.code_Voiture}}</td>
            <td>{{v.carteGrise.num_Immatricualtion}}</td>
            <td>{{v.carteGrise.marque}}</td>
            <td>{{v.carteGrise.model}}</td>
            <td class="text-center">{{v.typePermisVoiture}}</td>
            <td class="text-center"><strong>{{v.carteGrise.nombre_Place}} </strong> places</td>
            <td class="text-center">{{v.carteGrise.typeCarburant}}</td>
            <td>{{v.visiteTechnique.etat_Voiture.includes('Non_Conforme') ? '✘ Non Conforme' : '✓ Conforme'}}</td>
            <td class="">
              <button class="btn bg-secondary bg-gradient text-white bi-text-left" (click)="handelVisualiserVehicule(v)">
                <i class="bi bi-eye" ></i>
              </button>
            </td>
            <td>
              <button class="btn btn-dark text-white" (click)="handelUpdateVehicule(v)">
                <i class="bi-pen-fill"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="handledDeleteVehicule(v)">
                <i class="bi bi-trash" ></i>
              </button>
            </td>

            <td >
              <button class="btn btn-primary " (click)="handelUpdateVehicule(v)">
                <i class="bi-stripe"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
</div>
