<div class="container mt-2">
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errMessage; else loading">
      <div  class="text-danger">
        {{errMessage}}
      </div>
    </ng-container>
    <ng-template #loading >
      <div class="text-center " id="loading">
        <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
        </div></div>
    </ng-template>

  </ng-template>
  <ng-container *ngIf="voitures | async as listVoitures; else failureOrLoading">
    <div class="card ">
      <div *ngIf="errMessage">
        {{errMessage}}
      </div>
      <div class="card-header bg-dark text-white"> <h4>La liste des vehicules :</h4></div>
      <div class="card-body bg-light">
        <div *ngIf="getVehiculeFormGroup">



        </div>
        <table class="table ">
          <thead >
          <div class="btn bg-dark-subtle mb-3 " (click)="handelNewVehicule()">Ajouter un vehicule</div>
          <tr>
            <th >Code </th><th>Immatriculation</th><th>Marque</th> <th>Model</th><th>Nom Propriétaire</th><th>N° de places</th><th>Date début</th><th>Date fin</th><th>Visualiser</th> <th>Modif</th><th>Supp</th><th>Voyage</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let v of voitures |async ">
            <td class="text-center">{{v.code_Voiture}}</td>
            <td>{{v.carteGrise.num_Immatricualtion}}</td>
            <td>{{v.carteGrise.marque}}</td>
            <td>{{v.carteGrise.model}}</td>
            <td>{{v.carteGrise.nom_Proprietaire}}</td>
            <td class="text-center">{{v.carteGrise.nombre_Place}}</td>
            <td>{{v.carteGrise.date_Debut| date:'yyyy-MM-dd'}}</td>
            <td>{{v.carteGrise.date_Fin| date:'yyyy-MM-dd'}}</td>
            <td class="">
              <button class="btn btn-success text-white" (click)="handelVisualiserVehicule(v)">
                <i class="bi bi-eye" ></i>
              </button>
            </td>
            <td>
              <button class="btn btn-dark text-white" (click)="handelUpdateVehicule(v)">
                <i class="bi-pen-fill"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="handledDeleteVehicule(v)">
                <i class="bi bi-trash" ></i>
              </button>
            </td>

            <td >
              <button class="btn btn-primary " (click)="handelUpdateVehicule(v)">
                <i class="bi-stripe"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
</div>
