<div class="container mt-4">
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errMessage; else loading">
      <div class="alert alert-danger  container col-md-6  " style="margin-top: 150px;" role="alert">
        <h2 class="text-danger ">
          <img src="assets/bad.png" height="65px" class="mb-2">
          Erreur coté serveur !!!
        </h2>
        <h3 class="text-danger">Téléchargement des données est échoué</h3>
      </div>
    </ng-container>
    <ng-template #loading >
      <div class="text-center " id="loading">
        <div class="spinner-grow text-black " style="width: 8rem; height: 8rem; margin-top: 250px;" role="status">
        </div></div>
    </ng-template>

  </ng-template>
  <ng-container *ngIf="conducteur | async as listConducteurs; else failureOrLoading">
    <div class="card ">
      <div *ngIf="errMessage">
        {{errMessage}}
      </div>
      <div class="card-header bg-dark text-white">
        <h4> <i class="bi bi-list-nested"></i> La liste des conducteurs :</h4></div>
      <div class="card-body bg-light">
        <div *ngIf="searchConducteurFormGroup">
          <form [formGroup]="searchConducteurFormGroup" (ngSubmit)="handelSearchConducteur()">
            <div class="input-group">
              <label class="input-group-text bg-dark text-white">Nom ou Prénom Conducteur:</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn bg-dark-subtle">
                <div class="bi bi-search">Chercher</div>
              </button>
              <button routerLink="/newConducteur" class="btn bg-dark text-white ms-5">
                <div> <i class="bi bi-person-add me-2"></i>Nouveau Conducteur</div>
              </button>
            </div>
          </form>
        </div>
        <table class="table ">
          <thead >
          <tr>
            <th >Matricule</th><th>Nom</th><th>Prenom</th> <th>CIN</th><th>N° de tel</th><th>N° de permis</th><th>Les catégories du permis</th><th>Visualiser</th><th>Supp</th><th>Voyage</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of conducteur |async ">
            <td class="text-center">{{c.matricule}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.cin}}</td>
            <td>{{c.numTel}}</td>
            <td>{{c.permis.num_Permis}}</td>
            <td >{{c.permis.typePermisList.join(' - ')}}</td>
            <td>
              <button class="btn bg-secondary bg-gradient text-white bi-text-left" (click)="handledVisualiserConducteur(c)">
                <i class="bi bi-eye" ></i>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="handledDeleteConducteur(c)">
                <i class="bi bi-trash" ></i>
              </button>
            </td>

            <td >
              <button class="btn btn-dark " (click)="handelVoyageConducteur(c)">
                <i class="bi-list-columns-reverse"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
</div>
